body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
}

h1 {
    color: #333;
}

a {
    display: block;
    margin-top: 20px;
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Notification Styles */
.flash-message {
    background-color: #e7f3fe; /* Light blue background */
    color: #31708f; /* Dark blue text */
    border: 1px solid #bcdff1; /* Light blue border */
    padding: 4px; /* Some padding around the text */
    margin: 5px 0; /* Margin above and below the box */
    border-radius: 0px; /* Rounded corners */
    display: inline-block; /* To size the box to its content */
}
