<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>about us - chiiryo</title>
</head>
<body>
    <h1>about chiiryo</h1>
    <p>chiiryo is your creative project manager. our goal is to help you manage your projects effectively and creatively.</p>
    <a href="/">back to home</a>

    <h2>what we love to create</h2>
    <ul>
        {% for fun_activity in fun_activities %}
            <li>{{ fun_activity }}</li>
        {% endfor %}
    </ul>
</body>
</html>
